@{
    //Set page title
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

@*Page header*@
<h1>The Joel Hilton Film Collection</h1>

@*image of Hilton's brother*@
<img src="~/img/joelHilton.jpg" />