@* shared layout for view pages *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>


    @* set nav for all pages *@
    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>   
        <a asp-controller="Home" asp-action="MyPodcasts">My Podcasts</a>   
        <a asp-controller="Home" asp-action="MovieForm">Movie Form</a>
    </nav>


    @* space for different views to input page code *@
    <div>
        @RenderBody()
    </div>
</body>
</html>
